---
layout: default
---

{% capture front %}{% include front.md %}{% endcapture %}
{{ front | markdownify }}

<div class="home" style="border-top: 1px solid #2a7ae2">

  <h1 class="page-heading">Weblog Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
